aiohttp==3.7.4.post0; python_version >= "3.6"
alabaster==0.7.12; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
astroid==2.8.4; python_version >= "3.6" and python_version < "4.0"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.2.0; python_full_version >= "3.6.7" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
autobahn==21.3.1; python_version >= "3.7"
automat==20.2.0; python_full_version >= "3.6.7"
babel==2.9.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
backports.entry-points-selectable==1.1.0; python_version >= "2.7" and python_full_version >= "3.6.1"
bandit==1.7.0; python_version >= "3.5"
black==21.9b0; python_full_version >= "3.6.2"
certifi==2021.10.8; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
cffi==1.15.0; python_version >= "3.7"
cfgv==3.3.1; python_full_version >= "3.6.1"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
charset-normalizer==2.0.7; python_full_version >= "3.6.0" and python_version >= "3.5"
click==7.1.2; python_full_version >= "3.6.2" and python_version >= "3.6" and (python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5")
colorama==0.4.4
commonmark==0.9.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
constantly==15.1.0; python_full_version >= "3.6.7"
cryptography==35.0.0; python_version >= "3.7"
cycler==0.11.0; python_version >= "3.7"
darglint==1.8.1; python_version >= "3.6" and python_version < "4.0"
distlib==0.3.3; python_full_version >= "3.6.1"
docutils==0.17.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
dparse==0.5.1; python_version >= "3.5"
filelock==3.3.1; python_version >= "3.6" and python_full_version >= "3.6.1"
gitdb==4.0.9; python_version >= "3.7"
gitpython==3.1.24; python_version >= "3.7"
hyperlink==21.0.0; python_full_version >= "3.6.7" and python_version >= "3.7"
identify==2.3.1; python_full_version >= "3.6.1"
idna==3.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
imagesize==1.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
incremental==21.3.0; python_full_version >= "3.6.7"
iniconfig==1.1.1; python_version >= "3.6"
isort==5.9.3; python_full_version >= "3.6.1" and python_version < "4.0"
jinja2==3.0.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
kiwisolver==1.3.2; python_version >= "3.7"
lazy-object-proxy==1.6.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0"
markupsafe==2.0.1; python_version >= "3.6"
matplotlib==3.4.3; python_version >= "3.7"
mccabe==0.6.1; python_version >= "3.6" and python_version < "4.0"
multidict==5.2.0; python_version >= "3.6"
mypy-extensions==0.4.3
mypy==0.910; python_version >= "3.5"
nodeenv==1.6.0; python_full_version >= "3.6.1"
numpy==1.21.3; python_version >= "3.7" and python_version < "3.11"
packaging==21.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pandas==1.3.4; python_full_version >= "3.7.1"
pathspec==0.9.0; python_full_version >= "3.6.2"
pbr==5.6.0; python_version >= "3.6"
pillow==8.4.0; python_version >= "3.7"
platformdirs==2.4.0; python_version >= "3.6" and python_full_version >= "3.6.2" and python_version < "4.0"
pluggy==1.0.0; python_version >= "3.6"
pre-commit==2.15.0; python_full_version >= "3.6.1"
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pycparser==2.20; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pydocstyle==6.1.1; python_version >= "3.6"
pygments==2.10.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
pylint==2.11.1; python_version >= "3.6" and python_version < "4.0"
pyparsing==3.0.3; python_version >= "3.7"
pyqt5-qt5==5.15.2; python_version >= "3.6"
pyqt5-sip==12.9.0; python_version >= "3.6"
pyqt5==5.15.5; python_version >= "3.6"
pytest==6.2.5; python_version >= "3.6"
python-dateutil==2.8.2; python_full_version >= "3.7.1" and python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7")
pytz==2021.3; python_full_version >= "3.7.1" and python_version >= "3.6"
pyupgrade==2.29.0; python_full_version >= "3.6.1"
pyyaml==6.0; python_version >= "3.6" and python_full_version >= "3.6.1"
regex==2021.10.23; python_full_version >= "3.6.2"
requests==2.26.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
rich==10.12.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
safety==1.10.3; python_version >= "3.5"
scipy==1.7.1; python_version >= "3.7" and python_version < "3.10"
shellingham==1.4.0; python_version >= "3.6"
six==1.16.0; python_full_version >= "3.7.1" and python_version >= "3.5"
smmap==5.0.0; python_version >= "3.7"
snowballstemmer==2.1.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinx-autodoc-typehints==1.12.0; python_version >= "3.6"
sphinx-rtd-theme==1.0.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
sphinx==4.2.0; python_version >= "3.6"
sphinxcontrib-applehelp==1.0.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-htmlhelp==2.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-serializinghtml==1.1.5; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
stevedore==3.5.0; python_version >= "3.6"
tokenize-rt==4.2.1; python_full_version >= "3.6.1"
toml==0.10.2; python_full_version >= "3.6.1" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.3.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6") and (python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5")
tomli==1.2.2; python_version >= "3.6" and python_full_version >= "3.6.2"
twisted-iocpsupport==1.0.2; platform_system == "Windows" and python_full_version >= "3.6.7"
twisted==21.7.0; python_full_version >= "3.6.7"
txaio==21.2.1; python_version >= "3.7"
typer==0.3.2; python_version >= "3.6"
typing-extensions==3.10.0.2; python_full_version >= "3.6.7" and python_version >= "3.7" and python_version < "3.10"
urllib3==1.26.7; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.5"
virtualenv==20.9.0; python_full_version >= "3.6.1"
vtk==9.0.3
wrapt==1.13.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
wslink==1.1.0
yarl==1.7.0; python_version >= "3.6"
zope.interface==5.4.0; python_full_version >= "3.6.7"
